<h1>about</h1>

<h2>This page was made with love by some students:</h2>

<form method='get' action="/about">
  <input type="text" name='start'>
  <input type="text" name='end'>
  <input type="submit" value='Search'>
</form>

<ul>
  <%# criar um li para CADA estudante na minha array %>
  <% @students.each do |student| %>
    <li><%= student.capitalize %></li>
  <% end %>
</ul>

<%= link_to 'Go back to Home', root_path %>