<h1>Welcome to our toppest site</h1>
<h2>Here, have a cake</h2>

<%#= link_to 'texto do link', prefix_path %>
<%= link_to 'Go to About page', about_path %>
<%= link_to 'Go to Contact page', contact_path %>